fastapi
uvicorn
openai
python-dotenv
pandas
pydantic
python-multipart
jinja2
reportlab
psycopg2-binary
langchain
langchain-openai
faiss-cpu
pypdf
python-docx
pdfplumber==0.11.4
rank-bm25==0.2.2
PyPDF2==3.0.1
